.App {
  text-align: center;
}

li {
  background: linear-gradient(135deg, #184e68 0%, #2f7b72 100%);

  width: 80%;
  padding: 10px;
  /* margin-top:8px; */
  border-radius: 8px;
  margin: 4px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
h4 {
  text-transform: capitalize;
  text-decoration: underline;
}
h3 {
  text-transform: uppercase;
  text-align: center;
}
ul {
  list-style-type: none;
}
